#header-row {
  border-bottom: 1px solid rgb(51, 51, 51);
  display: flex;

  h6 {
    font-family: PTSansBold;
    color: white;
    font-size: 12px;
  }

  #name {
    width: 45%;
  }

  #artist {
    width: 25%;
  }

  #album {
    width: 20%;
  }

  #like {
	  width: 3%;
  }

  #duration {
    width: 7%;
    text-align: center;
  }
}

