#play-button,
#pause-button,
#prev-button,
#next-button {
  background: none;
  border: 0px;
  border-radius: 100%;
  padding: 0px;
  width: auto;
  height: auto;
}

#play-button img,
#pause-button img {
  width: 32px;
  height: 32px;
}

#prev-button img,
#next-button img {
  width: 16px;
  height: 16px;
}

#play-button:hover img {
  width: 34px;
  height: 34px;
}
