#progress-slider {
  appearance: none;
  border-radius: 20px;
  width: 100%;
  height: 5px;
  background: #474747;
}

#progress-slider::-webkit-slider-thumb {
  appearance: none;
  background: white;
  width: 5px;
  border-radius: 5px;
  height: 15px;
}

#progress-bar-container {
  height: 50%;
  display: flex;
  justify-content: center;
}
