.youtube-video {
  margin: 0;
  padding: 10px 30px 10px 20px;
  display: flex;
  flex-direction: row;
  transition: 0.2s ease-in-out;

  .thumbnail-div {
    img {
      width: 200px;
      aspect-ratio: 16/9;
    }
  }

  .details {
    margin: 0px auto 0px 30px;
    display: flex;
    flex-direction: column;

    h2,
    p {
      overflow: hidden;
    }

    h2 {
      font-family: PTSansRegular;
      color:white;
      margin: 0px;
      font-size: 16px;
      font-weight: bold;
    }

    p {
      font-family: PTSansRegular;
      font-weight: lighter;
      color: #9f9f9f;
      font-size: 13px;
    }
  }

  .like {
	  display:flex;
	  height: min-content;
	  margin: auto 30px auto auto;
	  justify-content: center;

	  img {
		transition: opacity 0.2s ease-in-out;
		opacity: 0;
		width: 32px;
		height: 32px;
	  }
  }
}

.youtube-video:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.2s ease-in-out;

  .like {
	  img {
		opacity: 1.0;
		transition: opacity 0.2s ease-in-out;

	  }
  }
}
