@font-face {
  font-family: PTSansBold;
  src: url("../fonts/PTSans/PTSans-Bold.ttf");
}

@font-face {
  font-family: PTSansRegular;
  src: url("../fonts/PTSans/PTSans-Regular.ttf");
}

@font-face {
  font-family: RobotoRegular;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: RobotoLight;
  src: url("../fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: RobotoBold;
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}
