#spotify-album-page {
  display: flex;
  flex-direction: column;
  margin: 30px 30px 30px 30px;

  #album-table {
    border-collapse: collapse;
    #header-row {
      border-bottom: 1px solid rgb(51, 51, 51);
      height: 60px;
      line-height: 0;
      #duration {
        width: 5%;
        h5 {
          text-align: center;
        }
      }

      #name {
        width: 90%;
        text-align: left;
      }

      #num {
        text-align: left;
      }

      h5 {
        font-family: PTSansBold;
        color: white;
        font-size: 12px;
      }
    }

    .album-row {
      line-height: 0px;
      transition: background-color 100ms ease-in;

      td:first-child {
        align-items: center;
        width: 5%;
        h4 {
          color:white;
          font-family: PTSansRegular;
          font-weight: lighter;
        }
      }

      td:nth-child(2) {
        width: 90%;
      }

      td:last-child {
        width: 5%;
        h4 {
          color:white;
          font-family: PTSansRegular;
          font-weight: lighter;
          text-align: center;
        }
      }

      a {
        text-decoration: none;
      }

      h5,
      a,
      h6 {
        color: white;
        font-family: PTSansRegular;
      }
    }

    .album-row:hover {
      background-color: #3030308f;
      cursor: pointer;
    }
  }
}

#album-header {
  width: 100%;
  display: flex;
  margin: 30px 30px 0px 5px;
  justify-content: flex-start;
  align-items: center;

  h5,
  h1,
  h6 {
    color: white;
    font-family: PTSansBold;
    margin: 10px auto 10px 20px;
    a {
      text-decoration: none;
      color: white;
      font-family: PTSansRegular;
      transition: 0.1s ease-in;
    }

    a:hover {
      color: #c2c2c2;
    }
  }

  div:nth-child(2) {
    height: 150px;
    display: flex;
    flex-direction: column;
  }

  img {
    width: inherit;
    height: inherit;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px white;
  }

  > div {
    width: 256px;
    height: 256px;
  }
}
