@font-face {
  font-family: PTSansBold;
  src: url("../fonts/PTSans/PTSans-Bold.ttf");
}
@font-face {
  font-family: PTSansRegular;
  src: url("../fonts/PTSans/PTSans-Regular.ttf");
}
@font-face {
  font-family: RobotoRegular;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: RobotoLight;
  src: url("../fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: RobotoBold;
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}
body {
  margin: 0;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  background: #212121;
  border: #343434 solid 2px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #343434;
  border-radius: 10px;
}

#main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
#main-container #horizontal-container {
  display: flex;
  flex-direction: row;
  height: 87vh;
  width: 100%;
}
#main-container #horizontal-container #side-bar {
  background-color: rgb(14, 14, 14);
  width: 180px;
  height: 100%;
  border-right: 1px solid rgb(37, 37, 37);
}
#main-container #horizontal-container #side-bar #search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 5px auto;
  height: 35px;
  border-radius: 5px;
  background-color: #232323;
  text-decoration: none;
}
#main-container #horizontal-container #side-bar #search-button div {
  height: 15px;
  margin: auto;
}
#main-container #horizontal-container #side-bar #search-button div img {
  width: 15px;
  height: 15px;
  filter: invert(100%);
}
#main-container #horizontal-container #side-bar #search-button h3 {
  font-family: RobotoLight;
  margin-right: auto;
  font-weight: 100;
  font-size: 18px;
  color: rgb(216, 216, 216);
}

#main-window {
  flex-grow: 1;
  height: 100%;
  display: flex;
  background: linear-gradient(180deg, rgb(13, 17, 48) 0%, rgb(0, 0, 0) 100%);
  width: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
#main-window #minimize {
  z-index: 3;
  position: fixed;
  top: 20px;
  right: 25px;
  visibility: visible;
  width: 28px;
  height: 28px;
}
#main-window #minimize:hover {
  cursor: pointer;
}

#player {
  height: 9vh;
  width: 96%;
  padding: 2vh 2% 2vh 2%;
  background-color: rgb(14, 14, 14);
  border-top: 1px solid rgb(37, 37, 37);
  display: flex;
  flex-direction: row;
}
#player div:nth-child(2) {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  margin: auto;
}
#player div:nth-child(2) #progress-bar-container {
  width: 100%;
}
#player div:nth-child(3) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 12.5%;
}
#player div:nth-child(3) a {
  margin: auto 0px auto auto;
}
#player div:nth-child(3) a img {
  width: 20px;
  height: 20px;
}

#player-buttons-container {
  height: 50%;
  width: 20%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#youtube-player-window {
  z-index: 1;
  position: absolute;
  right: 0;
  transition: all 0.5s ease-in-out;
  visibility: collapse;
  width: 100%;
  height: 100%;
}

#search-bar {
  display: flex;
  padding: 5px;
  height: 50px;
}
#search-bar a {
  margin: 3px auto auto 15px;
}
#search-bar a img {
  width: 25px;
  height: auto;
}
#search-bar .text-field {
  border-radius: 20px;
  font-family: PTSansRegular;
  font-size: 14px;
  height: 25px;
}

/*# sourceMappingURL=index.css.map */
