@use "fonts";

#login-button {
  text-decoration: none;
  color: white;
  font-family: RobotoLight;
  font-size: 18px;
  height: 35px;
  border-radius: 5px;
  background-color: #232323;
  display: flex; /* has to be set to display width*/
  margin: 10px auto;
  justify-content: center;
  align-items: center;
  width: 90%;
  text-align: center;
}
