@use "fonts";

#login-button {
  text-decoration: none;
  color: white;
  font-family: PTSansRegular;
  font-size: 18px;
  background-color: #303e72;
  display: flex; /* has to be set to display width*/
  margin: 10px auto;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  height: 30px;
  width: 80%;
  text-align: center;
}
