@use "fonts";

#login-button {
  text-decoration: none;
  color: white;
  font-family: PTSansRegular;
  font-size: 23px;
  background-color: rgb(14, 14, 14);
  display: flex; /* has to be set to display width*/
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 40px;
  width: 100%;
  text-align: center;
}
