@use "fonts";

#merge-with-spotify {
	display:flex;
	flex-direction: column;
	padding: 50px;
	height: -webkit-fill-available;
	margin:auto;

	#lists {
		display:flex;
		height: 64vh;

		#spotify-playlists {
			display: flex;
			width:400px;
			flex-direction: column;
			height: 100%;
			overflow-y: scroll;
			margin-right: 20px;

			#tabs {
				div {
					align-items: center;
					width: 50%;
					color: white;
					height: 30px;
					font-size: 13px;
					background-color: #0e0e0e;
					font-family: RobotoRegular;
				}

				div:hover {
					background-color: #1e1e1e;
					cursor:pointer;
				}
			}

			#playlist-results {
				margin: 20px 0px;
				display:flex;
				flex-direction: column;
				
				.spotify-playlist-row {
					padding: 10px 20px;
				}

			}
			
			#search-window {
				display:flex;
				flex-direction: column;

			    .text-field {
			      margin: auto;
			      width: 50%;
			      height: 40px;
			      text-align: center;
			      font-size: 16px;
			      font-family: PTSansRegular;
			      border-top: none;
			      border-right: none;
			      border-left: none;
			      border-bottom: #2c2c2c solid 2px;
			      box-sizing: border-box;
			      background: transparent;
			      transition: 0.2s ease-in-out;
			      color: white;
			      outline: none; //has to be set to remove the default border
			    }

			    .text-field:focus {
			      border-bottom: #3d3d3d solid 2px !important;
			      transition: 0.2s ease-in-out !important;
			    }
			}
		}

		#youtube-playlist {
			margin:auto;
		}
	}

	form {
		display:flex;
		flex-direction: column;
		width: 25%;
		margin:20px auto auto auto;

		select {
			appearance: none;
			background-color: #343434;
			color:white;
			border: none;
			text-decoration: white;
			padding: 10px;
			height: 40px;
			border-radius: 5px;
			margin: 0;
			border-radius: 0px;
			outline: none;
			width: 100%;
			font-family: inherit;
			font-size: inherit;
			cursor: inherit;
			line-height: inherit;
			font-family: RobotoRegular;

			option {
				padding: 10px;
				margin: 10px;
				height: 40px;
				border-radius: 0px;
				font-family: RobotoRegular;
			}
		}

		input {
			background-color: #343434;
			border-sizing: border-box;
			outline: none;
			width: 50%;
			height: 40px;
			margin: 20px auto auto auto;
			border-radius: 5px;
			padding: 5px;
			font-family: PTSansRegular;
			font-weight: bolder;
			color: white;
			font-size: 17px;
		}
	}
}
