@use "fonts";

#player-info-container {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: row;

  #headers-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 20px 0px 20px;
  }

  #headers-container {
    #artist,
    #song-name {
      color: white;
      text-decoration: none;
    }

    #artist {
      font-family: PTSansRegular;
      font-size: 12px;
    }

    #song-name {
      font-family: PTSansBold;
      font-size: 15px;
      margin: 5px 0px 5px 0px;
    }
  }

  img {
    width: auto;
    height: auto;
    aspect-ratio: 1;
  }
}
