#queue-page {
  width: 100%;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  h1 {
    font-family: PTSansRegular;
    font-weight: bolder;
    font-size: 40px;
    color:white;
  }
}