@use "fonts";

#spotify-search-window {
  display: flex;
  flex-direction: column;
  width: 100%;

  #search-result-container {
    overflow-x: auto;
    height: max-content;
    padding: 0px 30px;
    flex-direction: column;

    h1 {
      color: white;
      margin-right: auto;
      font-family: PTSansRegular;
      font-weight: bold;
      font-size: 30px;
    }

    #albums {
      display: flex;
      padding-bottom: 15px;
      flex-direction: row;
      overflow-y: hidden;
      width: 100%;
      overflow-x: auto;
      margin-bottom: 10px;


      .album-block:first-child {
        margin: 0px 10px 0px 0px;
      }
    }

    #tracks {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 200px;
      overflow-y: scroll;

    }
  }

  #artists {
    display: flex;
    overflow-y: hidden;
    padding-bottom: 15px;

    .artist-block {
      margin: 0px 10px 0px 10px;
    }
    .artist-block:first-child {
      margin: 0px 10px 0px 0px;
    }
    .artist-block:last-child {
      margin: 0px 0px 0px 10px;
    }
  }

  #playlists {
      display: flex;
      padding-bottom: 15px;
      flex-direction: row;
      overflow-y: hidden;
      width: 100%;
      height: 260px;
      overflow-x: auto;
      margin-bottom: 10px;

    .playlist-block {
      margin: 0px 10px;
    }
    .playlist-block:first-child {
      margin-left: 0px;
    }
    .playlist-block:last-child {
      margin-right: 10px;
    }
  }
}
