@use "fonts";

#spotify-search-window {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;

  #search-result-container {
    display: flex;
    overflow-x: auto;
    height: max-content;
    padding: 20px 0px 20px 0px;
    flex-direction: column;

    #albums {
      display: flex;
      padding-bottom: 15px;
      flex-direction: row;
      overflow-y: hidden;
      width: 100%;
      overflow-x: auto;
      margin-bottom: 10px;

      .album-block {
        display: flex;
        flex-direction: column;
        height: 250px;
        background-color: #343434;
        width: 180px;
        margin: 0px 10px 0px 10px;
        border-radius: 8px;

        img {
          border-radius: 8px 8px 0px 0px;
          width: auto;
          aspect-ratio: 1;
        }

        > div {
          padding: 10px;
          display: flex;
          flex-direction: column;
          a {
            font-family: PTSansRegular;
            text-decoration: none;
            color: #c5c5c5;
            font-size: 15px;
            transition: 0.1s ease-in-out;
          }

          > a {
            white-space: nowrap;
          }

          div {
            a {
              font-size: 12px;
            }
          }

          a:hover {
            transition: 0.1s ease-in-out;
            color: white;
          }
        }
      }

      .album-block:first-child {
        margin: 0px 10px 0px 0px;
      }
    }

    #tracks {
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 200px;
      overflow-y: scroll;

      .track-row-search {
        height: 40px;
        display: flex;
        flex-direction: row;
        padding: 5px;

        .image {
          display: flex;
          align-items: center;
          width: 40px;
          img {
            width: 30px;
            height: 30px;
          }
        }

        a {
          font-family: PTSansRegular;
          text-decoration: none;
          color: #c5c5c5;
        }

        .titles {
          display: flex;
          flex-direction: column;

          > a {
            transition: 0.1s ease-in-out;
          }

          > a:hover {
            transition: 0.1s ease-in-out;
            color: white;
          }

          .artists {
            a {
              font-size: 13px;
              transition: 0.1s ease-in-out;
            }

            a:hover {
              transition: 0.1s ease-in-out;
              color: white;
            }
          }
        }

        .duration {
          margin-left: auto;
          h2 {
            color: #c5c5c5;
            font-size: 13px;
            font-weight: 100;
            font-family: PTSansRegular;
          }
        }
      }
    }

    > h1 {
      font-family: PTSansRegular;
      font-size: 30px;
      color: #5e5e5e;
      margin: auto;
    }
  }
}
