@use "fonts";

#youtube-search-window {
  width: 100%;
  display: flex;
  flex-direction: column;

  #search-result-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;

  }
}
